.headContainer{
    background-color: rgb(108, 177, 101);
    width:100%;
    margin-top:0%;


 
}
.navbar{
    background-color: rgb(108, 177, 101);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     gap: 3rem;
     padding-right: 24rem;
    
}

a{
     font-family: sans-serif;
     font-size: 1rem;
     margin-top: 3rem;
    color: white;
     text-decoration: none;
}
a:hover{
    color: gray;
}


img{
    justify-content: left;
    padding: 5px;
}
body{
    margin:0rem;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#get{
    font-size: 1.3rem;
    font-family: sans-serif;
}
label{
    font-size: 1.3rem;
    font-family: sans-serif;
}

.box{
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    border-color: rgb(158, 152, 152);
    font-size: 1rem;
    font-family: sans-serif;
    border:1px solid;
    border-color: gray ;

}

#input1{
    height: auto;
    width: auto;
    padding: 1rem;
    background-color: rgba(37, 36, 36, 0.041);
}

#send{
    padding: 0.5rem;
    width: 13.3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: green;
    color: white;
    font-size: 1rem;
    
}
#send:hover{
    background-color: rgb(175, 197, 175);
    border: none;
}
textarea{
    width: 12.2rem;
}








.footer{
    background-color: rgb(108, 177, 101);
    /* position: fixed; */
    bottom: 0%;
    width: 100%;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    text-align: center;
    display: flex;
    gap: 12rem;
    justify-content: center;
}
i{
    height: 2rem;
    width: 2rem;
    padding-top: 1rem;
} 